* {
  margin: 0;
  padding: 0;
}

.genre {
  margin-bottom: 0;
}

.completed {
  font-size: 12px;
}

.chapter {
  font-size: 14px;
}

.btn--update {
  font-size: 0.8rem;
  font-weight: 300;
  border: none;
  padding: 0.4rem;
  background-color: #0d6efd;
  color: #fff;
  border-radius: 4px;
}
